*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}

.group {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

p{
    color: aliceblue;
}